<div class="register_block">
<h2>Register</h2>

<form action='/users' method='post'>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    First Name:
    <input type='text' name='user[first_name]' />
    <br><br>
    Last Name:
    <input type='text' name='user[last_name]' />
    <br><br>
    Email:
    <input type='text' name='user[email]' />
    <br><br>
    Password:
    <input type='text' name='user[password]' />
    <br><br>
    <input id="button" type='submit' value='Register' />
</form>
</div>

<div class="login_block">
<h2>Login</h2>
<form action='/main' method='post'>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    Email:
    <input type='text' name='user[email]' />
    <br><br>
    Password:
    <input type='text' name='user[password]' />
    <br><br>
    <input id="button" type='submit' value='Login' />
</form>
</div>